{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<title>{% block title %}  {% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>

<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <div class="site-logo">
                        <a href="index.html">
                        </a>
                    </div>
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/">Home</a>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                            </li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'cartDetails' %}">Cart</a></li>
                            <li><a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'checkout' %}">Check Out</a></li>
                                    <li><a href="{% url 'cartDetails' %}">Cart</a></li>
                                    <!-- <li><a href="single-product.html">Single Product</a></li> -->
                                   
                                </ul>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="{% url 'cartDetails' %}"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="" href="{% url 'profile' %}"><i class="fa fa-user" style="font-size:24px"></i></a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
{% block content %}{% endblock %}