{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Cart{% endblock %}</title>
<body>
	
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for i in ci %}
								<tr class="table-body-row">
									<td class="product-remove"><a href="{% url 'remove' i.prod.id %}"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img src="{{i.prod.img.url}}" alt=""></td>
									<td class="product-name">{{i.prod.name}}</td>
									<td class="product-price">${{i.prod.price}}</td>
                             		<!-- ======== -->
									<td class="product-quantity">
										<a href="{% url 'mincart' i.prod.id %}" class="qty qty-minus">
											<i class="fa fa-minus" style="font-size:10px;color:rgb(255, 152, 35)">
											</i>
										</a>&nbsp;
										<input type="number" value="{{i.quan}}">
										&nbsp;<a href="{% url 'addcart' i.prod.id %}" class="qty qty-plus"> 
											<i class="fa fa-plus" style="font-size:10px;color:rgb(255, 152, 35)">
											</i>
										</a>
									</td>
									<!-- ======== -->
									<td class="product-total">{{i.total}}</td>
								</tr>		
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>$500</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>$45</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>${{t}}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="/" class="boxed-btn">Update Cart</a>
							<a href="{% url 'checkout' %}" class="boxed-btn black">Check Out</a>
						</div>
					</div>
					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}